p{
    color: yellow;
}

*{
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

h1{
    font-size: 60px;
}

#following{
    text-transform: uppercase;
}

.languages{
    background-color: green;

}
li[type="1"]{
    border: 1px solid blue;
                    
}

section img{
    border-radius: 50%;
}

ul{
    list-style: none;    
    letter-spacing: 10px;
}

ul~p{
    text-align: center;
    color: black;
}